.split-login {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.login-container {
  flex: 1;
  background-color: #FFFFFF;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.intro-container {
  flex: 1;
  background-color: #FEFCDD;
  color: #FE7600;


  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-family: monospace;
}

button {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0.25rem;
}

button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

button.disabled, button.disabled:hover{
  background-color: #2f80f978;
  border-color: #8dbbffa9;
  cursor: default;
}

button.sign-in-button {
  width: 15rem;
}

.FilePreview {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 12rem;
  height: 9rem;
  font-size: 0.75rem;
  padding: 0.75rem;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.FilePreview:hover {
  background-color: #ededed;
}

.FilePreview.selected{
  background-color: #c0d7fa;
}

.FilePreview.selected:hover {
  background-color: #c9dcf7;
}

.FilePreview img {
  max-width: 12rem;
  max-height: 8rem;
  margin-top: 0.4rem;
}

.FilePreview p, .FilePreview h4 {
  margin: 0;
  text-align: center;
}

.StorageInterface {
  display: flex;
}

.FilePreviewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
  flex: 1;
  align-content: flex-start;
}

.FileDashboard {
  width: 18rem;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #FEFCDD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.FileDashboard h1 {
  margin: 1.5rem;
  color: #FE7600;
}

button.dashboard-button {
  width: stretch;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

button.sign-out-button {
  width: stretch;
  margin: 1.5rem;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info img {
  width: 40px;
  height: 40px;
  margin-left: 1.5rem;
  margin-right: 0.75rem;
  border-radius: 10%;
  object-fit: cover;

}

.profile-name {
  display: flex;
  flex-direction: column;
}

.profile-name p {
  margin: 0px;
  /* color: #FE7600; */
  /* font-weight: bold; */
  /* font-family: monospace; */
}

p.files-selected {
  margin-left: 1.5rem;
  color: #FE7600;
}

.uploadModal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  background-color: white;
  border: 2px solid #000;
}